<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* learn jupiter architecture
* Best Tool For Data Scintits
* Learn Programming Langaues For Data Scintits 
* Best Laibarys For Data Scintits

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NLTK
3. MATPLOT

| Data Science Tools |
| -------------| 
| DataLore |
| JupterNoteBook |
| Spark|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335

<H2>Author<H2>

Mohammed Alghamdi